ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_PRIVATE_KEY=
VERIFY_CONTRACTS=false

COLLECTION_SIZE=10000
MINT_PRICE_ETH=0.00025
END_GAME_THRESHOLD=10
CONFIRM_ACTIVATE=
CONFIRM_FINALIZE_SUPPLY=

PEPURGE_ADDRESS=
MINT_START=
MINT_END=
MAX_MINTS_PER_WALLET=10000
